@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Anton';
	src: url("../fonts/Anton.ttf");
}


html{
	font-size: 62.5%; /*16px x 62.5%=10px*/
}
body{
	font-family: '''Noto Sans JP', sans-serif;
	font-feature-settings: "palt";
	font-size: 1.6rem;
	line-height: 1.3;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscal;
}
img{
	max-width:100%;
	height: auto;
	vertical-align: middle;
}
iframe{
	max-width: 100%;
}
h2{
	font-family: "Anton","sans-serif";
	font-size: 4.8rem;
	font-weight: 200;
	color: #03034b;
	padding: 46px 0 30px;
	text-align:center; 
	letter-spacing: 3px;
}
a{
	color: #1d1d1d;
}

.text-center{
	text-align: center;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}
.sub_title{
	font-size: 1.4rem;
	padding-bottom: 46px;
}
.sp-none{
	display: none;
}
/*-------------------------------
navi
----------------------------------*/
.nav-list{
	font-family: sans-serif;
}
.header{
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
	box-sizing: border-box;
	width:100%;
	height: 69px;
	padding: 20px 20px 16px;
	border-top:solid 1px #e2dede;
	border-bottom:solid 1px #e2dede;
	background-color:#fff;
}
.btn-trigger{
	overflow: hidden;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 100;
	width:44px;
	padding: 6px 0 0;
	border: none;
	background-color:#fff;
	white-space:nowrap;
	z-index: 102;
}

use{
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.btn-trigger.active use:nth-of-type(1) {
    -webkit-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg);
}
.btn-trigger.active use:nth-of-type(2) {
    opacity: 0;
}
.btn-trigger.active use:nth-of-type(3) {
    -webkit-transform: translateX(35px) translateY(-15px) rotate(45deg);
    transform: translateX(35px) translateY(-15px) rotate(45deg);
}
.header-nav{
	display: none;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding: 120px 0 0;
	background-color: rgba(255,255,255,0.97);
	z-index: 101;
}
.nav-item{
	margin: 0 0 55px;
}

.nav-item>a{
	color:#1b1b1b;
	font-size: 1.4rem;
	text-transform: uppercase;
	text-decoration: none;
}
.header .nav-item>a{
	color: #1b1b1b;
}

.lang{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	justify-content: -webkit-space-around;
	justify-content: -moz-space-around;
	justify-content: space-around;
	
}
.header-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	position: relative;
	top: 0;
	width: 100%;
	background-color: #fff;
	padding: 0 10px 10px 10px;
	z-index: 99;
}
.site-title{
	position: absolute;
	
	top: 8px;
	margin: 0 auto;
	width: 104px;
	height: auto;
}
.logo_sp{
	position: absolute;
	
}
.tel-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	position: absolute;
	left: 110px;
	top: 8px;
}
.tel-ico{
	height: 24px;
	width: auto;
}
.tel{
	font-size: 0.1rem;
	line-height: 0.9;
}
.tel-number{
	font-size: 1.4rem;
}
.heder-inq{
	position: absolute;
	left: 114px;
	top: 40px;
	font-size: 1.1rem;
	padding: 3px 7px;
	margin-right: 4px;
	background-color:#f19149;
	color: #fff;
}
.current{
	color: #8B8B8B;
}

/*----------------------------------
kv
-------------------------------------*/
.kv{
	position: relative;
	background-image: url("../images/kv_sp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	margin-top: 65px;
	z-index: 90;
}
.catch{
	position: absolute;
	top:60%;
	padding-left: 3%;
}
.kv-h{
	font-family: 'Noto Serif', serif;
	color: #fff;
	font-size: 2.2rem;
	padding-bottom: 8px;
}

.kv-p{
	font-family: 'Noto Serif', serif;
	color: #fff;
	font-size: 1.2rem;
	line-height: 1.4;
}
.sns{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	position: fixed;
	bottom: 14px;
	left: 0;
	z-index: 90;
}

.sns-ico{
	width: 40px;
	padding-left: 20px;
	
}

/*-------------------------
Service
---------------------------*/
.service{
	margin: 0 auto;
}
.service-card{
	width: 90%;
	background-color: rgba(156,156,156,0.3);
	margin: 24px auto;
	box-shadow:0px 5px 4px 0 #9c9c9c;
}
.service-ico{
	display: block;
	margin: 0 auto;
	padding: 16px 0 20px;
	width: 56px;
	height: auto;
	
}
h3{
	font-size: 3rem;
	font-weight: 600;
	color: #a96700;
	text-align: center;
	padding-bottom: 20px;
}

.service-card p{
	display: block;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
}

h4{
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	margin: 36px;
}
.face{
	display: block;
	margin: 0 auto;
	width: 34vw;
	height: auto;
}
.name{
	font-size: 1.8rem;
	font-weight: 600;
	text-align: center;
	padding: 12px;
}
.instructor{
	display: block;
	margin: 0 auto;
	width: 90%;
}

/*-------------------------------
diving points
----------------------------------*/

.point_wrap{
	 margin: 0 auto;
/*  padding: 5px;*/
  width: 100%;
  background-color: #fff;
  column-count: 2;
  column-gap: 0;
}
.point_wrap li{
	position: relative;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.points_name{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	color: #fff;
}
/*-----------------------------
corse
--------------------------------*/
.corse_card{
	width: 80%;
	background-color: rgba(156,156,156,0.3);
	margin: 24px auto;
	padding-bottom: 10px;
	box-shadow:0px 5px 4px 0 #9c9c9c;
}
.corse_small{
	font-size: 1.2rem;
	padding:10px 0  4px;
	text-align: center;
	color:#A96700;
	font-weight: 600;
}
.corse_title{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-weight: bolder;
	font-size: 3.2rem;
	text-align:center; 
	padding-bottom: 10px;
}
.price{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-weight: bolder;
	font-size: 3rem;
	color: #060ea4;
	text-align:center; 
	padding-bottom: 10px;
}
.corse_p{
	display: block;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 10px 10px 0;
}
.reserve{
	display: block;
	font-size: 2rem;
	color: #fff;
	text-align: center;
	padding: 6px 60px;
	margin: 20px;
	background-color: #eb6100;
}
/*--------------------------------
contact
--------------------------------*/

.inqery{
	display: block;
	font-size: 2rem;
	color: #fff;
	text-align: center;
	padding: 6px;
	margin: 0 50px;
	background-color: #eb6100;
}
.contact_outer{
	width: 72%;
	margin: 20px auto;
	line-height: 1.6;
}
.hour{
	font-size: 1.4rem;
	padding-top: 2px;
}
.map{
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	margin: 30px;
}
.gmap iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
/*-------------------------
footer
---------------------------*/
.footer{
	position: relative;
	background-color: #0d0f49;
	height: 50px;
	padding: 2px 2px 60px;
}
.footer_logo{
	position: absolute;
	width: 100px;
	height: auto;
	top: 10px;
	margin: auto;
}
.footer_p{
	position: absolute;
	top: 10px;
	right: 4px;
	color: #fff;
	font-size: 0.8rem;
	text-align: right;
}
.footer_p a{
	color: #fff;
}
.copyright{
	font-size: 0.6rem;
}

@media screen and (min-width:698px){
	.service{
		width: 80%;
	}
	/*	---------------------------------
	diving points
	----------------------------------*/
	.point_wrap{
		 column-count: 3;
	}
	.point_wrap img{
		width: 33.333vw;
	}
#corse{
		width: 73%;
		margin: 0 auto;
	}
	
	
}

@media screen and (min-width:1000px){
	body{
		line-height: 1.6;
		font-size: 1.6rem;
	}
	h2{
		font-size: 8.8rem;
	}
	.none{
		display: none;
	}	
	.sp-none{
		display: block;
	}
	.header-wrap{
		position: relative;
		background-color: transparent;
	}
	
	.tel-wrap{
		position: absolute;
		top:30px;
		right: 50%;
		left: auto;
	}
	.tel-ico{
		height: 34px;
	}
	.tel{
		font-size: 1.2rem;
		color: #fff;
	}
	.tel-number{
		font-size: 1.8rem;
	}
	.tel-number>a{
		color: #fff;
	}
	.heder-inq{	
		position: absolute;
		top:30px;
		right: 28%;
		left: auto;
		font-size: 1.6rem;
		padding: 3px 14px;
	}
	.heder-inq>a{
		color: #fff;
	}
	
	.header-nav{
		display:block;
		position: absolute;
		height: 0;
		top: -84px;
		background-color: transparent;
	}
	.site-title{
		left: -9px;
		margin: 0;
		padding: 10px 40px;
		width: 176px;
	}
	.nav-item{
		margin-right: 20px;
	}
	.nav-item>a{
		color:#fff;
	}
	.menu>a{
		font-size: 1.8rem;
	}
	.nav-list{
		display: -webkit-flex;
		display:-moz- flex;
		display: flex;
		justify-content: -webkit-space-around;
		justify-content: -moz-space-around;
		justify-content: space-around;
	}
	.lang{
		justify-content: -webkit-flex-end;
		justify-content: -moz-flex-end;
		justify-content: flex-end;
	}
	.kv{
		background-image: url("../images/kv_nimaiiwa.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100vw;
		height: 100vh;
		margin: 0;
		margin-top: -10px; 
	}
	.catch{
	position: absolute;
		right: 8vw;
		top: 60%;
	}
	.kv-h{
		font-size: 4.8rem;
	}
	.kv-p{
		font-size: 1.8rem;
	}
	.sns{
		display: block;	
		right: 20px;
		left: auto;
		bottom: 15%;
	}
	.sns-ico{
		width: 50px;
		height: auto;
		padding-bottom: 20px;
		pointer-events: none;
	}
	
/*	--------------4-----------
	service
	----------------------------*/
	
	.service{
		width: 90%;
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
		justify-content: -webkit-space-around;
		justify-content: -moz-space-around;
		justify-content: space-around;
	}
	.service-card{
		width: 29%;
		padding: 20px 0;
	}
	.service-ico{
		width: 86px;
		padding-bottom: 0;
	}
	h3{
		padding: 30px 0;
		font-size: 2.8rem;
	}
	.china{
	padding-top: 50px;
}
	.service-card>p{
		width: 70%;
	}
	.instructor_wrap{
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
		justify-content:-webkit- center;
		justify-content: -moz-center;
		justify-content: center;
		
	}
	h4{
		font-size: 2.8rem;
		margin: 54px;
	}
	.face{
		width: 180px;
		height: auto;
		margin: 0;
	}
	.name{
		text-align: left;
		padding-left: 32px;
		font-size: 2.4rem;
	}

/*	---------------------------------
	corce
	-----------------------------------*/
	#corse{
		width: 80%;
		margin: 0 auto;
	}
	
	.corse_card{
		width: 100%;
		margin: 24px;
	}
	.corse_card:last-of-type{
		margin-right: -18px;
	}
	.corse_card img{
		width: 100%;
		height: 60%;
	}
	.corse_card_flex{
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
	}
	.corse_small{
		font-size: 1.8rem;
    	padding: 30px 0 0;
    	text-align: center;
	}
	.corse_title{
		font-size: 3.8rem;
	}
	.price{
		font-size:  3.6rem;
	}
	.corse_p{
		margin: 30px auto;
		text-align: center;
		width: 100%;
	}
	
	.reserve{
		margin: 36px 50px;
	}
/*	-----------------------------
	contact
	-------------------------------*/
	.contact_wrap{
		margin: 0 auto;
		display:-webkit flex;
		display: -moz-flex;
		display: flex;
		flex-direction: -webkit-row-reverse;
		flex-direction: -moz-row-reverse;
		flex-direction: row-reverse;
		justify-content: -webkit-center;
		justify-content: -moz-center;
		justify-content: center;
		
	}

	.inqery{
		margin: 0 50px;
	}
	.sub_title{
		font-size: 1.6rem;
	}
	.contact_p{
		padding-left: 90px;
	}
	
/*	------------------------
	footer
	--------------------------*/
	.footer{
		height: 100px;
		padding: 8px;
		padding-bottom: 0;
	}
	.footer_logo{
		width: 150px;
		top: 0;
		bottom: 0;
	}
	.footer_p{	
	bottom: 30px;
	right: 18px;
		font-size: 1.2rem;	
		padding-top: 10px;
	}
	
	
	
}


































